<h2 class="f3 tc pv3">Сертификаты о восхождениях в Непале</h2>

<div class="siema">
        <div><img src="/img/certificates/pisang-peak-03-05-16-600px.jpg" alt="Siema image" /></div>
        <div><img src="/img/certificates/bokta-peak-20-04-14-600px.jpg" alt="Siema image" /></div>
        <div><img src="/img/certificates/island-peak-05-12-12-600px.jpg" alt="Siema image" /></div>
        <div><img src="/img/certificates/island-peak-09-05-13-600px.jpg" alt="Siema image" /></div>
        <div><img src="/img/certificates/island-peak-13-01-14-600px.jpg" alt="Siema image" /></div>
        <div><img src="/img/certificates/island-peak-30-10-12-600px.jpg" alt="Siema image" /></div>
        <div><img src="/img/certificates/mera-peak-04-05-14-600px.jpg" alt="Siema image" /></div>
        <div><img src="/img/certificates/mera-peak-23-10-12-600px.jpg" alt="Siema image" /></div>
        <div><img src="/img/certificates/mera-peak-28-10-14-600px.jpg" alt="Siema image" /></div>
    </div>
    <div class="mb2 w5 center tc">
      <button class="prev btn">назад</button>
      <button class="next btn">вперед</button>
      <script src="/js/siema.min.js"></script>
    </div>
      <script>
    const mySiema = new Siema({
      perPage: {
        768: 2,
        1024: 3,
      },
    //   duration: 250,
      loop: true,
    });
    // setInterval(() => mySiema.next(), 5000)
    const prev = document.querySelector('.prev');
    const next = document.querySelector('.next');
      prev.addEventListener('click', () => mySiema.prev());
    next.addEventListener('click', () => mySiema.next());
      </script>