<section id="intro" class="vh-50 dt bg-grey-1 w-100">
    <!-- <section id="intro" class="vh-75 dt bg-blue near-white w-100"> -->
        <div class="dtc v-mid center mw9 tc">
          <h2 class="mw8 center f2 f1-l lh-title black-90">Мой опыт организации трекингов, экспедиций и восхождений в непальских Гималаях</h2>
          <hr class="mw4 center bn bg-primary" style="height: 5px">
          <p class="mw7 center tl lh-copy black-70 f5">Большинство маршрутов я проходил с группами многократно, в разное время года. Прекрасно представляю особенности и логистику каждого маршрута. Наработал проверенные делами связи с непальскими поставщиками услуг в разных регионах.</p>
        </div>
  </section> 

<div class="cms mw6 center ph3 pv3"> 
   
        <h3 id="классические-ти-хаус-трекинги">Классические ти-хаус трекинги</h3>
            
          <ul>
            <li><p>К базовому лагерю Эверест, пик Кала Паттар 5545 м. (EBC camp trek, peak Kala Patthar 5545 m.);</p></li>
            
           <li><p>Через озера Гокио 4700-5000 м., перевал Чо-ла 5420 м. к базовому лагерю Эвереста (Gokyo trek, Gokyo Ri aka Gokyo Peak 5357 m., Gokyo Lakes 4700-5000 m., Cho La pass 5420 m.);</p></li>
            
           <li><p>Перевал Рейнджо-Ла 5360 м., озера Гокио, базовый лагерь Чо-Ойу, перевалы Чо Ла 5368 м., к базовому лагерю Эвереста, перевал Конгма-Ла 5535 м. (Everest High Passes Trekking: Renjo La pass 5360, Gokyo Lakes, Cho Oyu base camp, Cho La pass 5420 m. Everest Base camp, Kongma La Pass 5535 m.);</p></li>
            
           <li><p>К Лукле через Саллери, Фаплу (Salleri, Phaplu);</p></li>
            
           <li><p>К южному базовому лагерю Аннапурны (South Annapurna base camp);</p></li>
            
           <li><p>Трекинг к Марди Химал (Mardi Himal Trek);</p></li>
            
           <li><p>Вокруг Аннапурны через перевал Торонг-Ла 5416 м., озеро Тиличе 4919 м. (Annapurna Circuit, Thorung Phedi, Tilicho Lake);</p></li>
          
           <li><p>Трекинг в долины Наар и Пху (Naar, Phu);</p></li>
            
           <li><p>Вокруг Манаслу через перевал Ларкья Ла 5160 м. (Manaslu Circuit, Larkya la pass 5160m);</p></li>
           
           <li><p>Классический Лантанг трекинг, озеро Госайкунд перевал Ганджала 5130 м. (Gosainkunda lake, Langtang, Ganjala Pass 5130 m.).</p></li>
            </ul>
            
           <h3 id="экспедиционные-трекинги">Экспедиционные трекинги</h3>
            
           <ul>
            <li><p>Из региона Макалу-Барун в регион Эверест или в обратном направлении, через базовый лагерь Макалу, перевалы Амбху Лабста 5845 м., Западный 6143 м., Восточный 6100 м. (Everest - Makalu Barun, Ambhu Labsta pass 5845 m., West col 6143 m., East col 6100 m.);</p></li>
            
           <li><p>Ролвалинг, перевал Таши Лабста 5755 м. (Rolwaling trek, Tashi Labsta pass 5755 m.);</p></li>
            
           <li><p>Регион Канченджанга. Северный и южный базовые лагеря Канченджанги, через перевалы Селе-ла (4186 м.), Синьон-ла (4440 м.), Миргин-ла (4650 м.) и Синелапче-ла (4700 м.) (Kanchenjunga Trek,  Kanchenjunga North Base Camp 5143 m., Sele La 4186 m., Mirgin La 4650 m., Sinelapche La 4700 m., Kanchenjunga South Base Camp);</p></li>
            
           <li><p>Регион Дармодар. Долина Наар-Пху, Озеро Тиличе + Пять гималайских перевалов свыше 5000 м. Пху – 5050: Наар–5400 м., Канг – 5306 м. Безымянный, Месоканто 5121 м. (Darmodar, Naar, Phu, Kang La, Messocanto, Tilicho Lake);</p></li>
            
           <li><p>Вокруг Дхаулагири через базовый лагерь Дхаулагири, Французский перевал 5360 м. и перевал Дхампус 5240 м. (Dhaulagiri Circuit, French Col 5360 m., Dhampus Pass 5240 m.);</p></li>
            
           <li><p>Озеро Тиличе со стороны Мананга и через перевал Месоканто 5121 м. (Tiliche lake, Messocanto 5121 m.);</p></li>
            
           <li><p>Через перевалы Затрва Ла 4610 м., Мера Ла 5415 м., Амбху Лабста 5845 м. (Zatrwa La pass 4610 m., Mera La pass 5415 m., Ambhu Labsta pass 5845 m.) с восхождением на Мера пик 6470м и Айленд пик 6183м (Island Peak 6183 m., Mera peak 6470 m.);</p></li>
            
           <li><p>Базовый лагерь на леднике Кайшар, к подножью Тхамсерку, Кантенга, Кайшар, Кусум Кангуру (Kayshar glacier base camp, the circus of Thamserku, Kantega, Kayshar, Kusum Kanguru);</p></li>
            
           <li><p>Квангде Ри трек (Kwangde Ri), к озерам Лемдинг 5100м. (Lumding Tso), баз лагерю Квангде Ри 6011 м.(Kwangde Ri).</p></li>
            </ul>
           
           <h3 id="восхождения">Восхождения</h3>
            
           <ul>
           <li><p>Мера пик 6470 м. (Mera peak);</p></li>
            
           <li><p>Айленд пик 6183 м. (Island Peak);</p></li>
            
           <li><p>Бокта 6,143 м. (Mt.Bokta);</p></li>
            
           <li><p>Лобуче Восточная 6,119 м. (Lobuje East);</p></li>
            
           <li><p>Писанг 6,091 м. (Pisang);</p></li>
            
           <li><p>Дхампус пик 6012 м. (Dhampus Peak or Thapa Peak);</p></li>
            
           <li><p>Тхарпу Чули (Тент пик) 5,663 м. (Tharpu Chuli or Tent peak);</p></li>
            </ul>
            
           <p><em>Неоднократные восхождения на Айленд и Мера пик , в различное время года: осенью, зимой, весной.</em></p>
            
           <h3 id="тренинги">Тренинги</h3>
            
           <ul>
            <li><p>Основы техники альпинизма;</p></li>
            
           <li><p>Ледолазание и скалолазание;</p></li>
            
           <li><p>Функциональная акклиматизация к высотным восхождениям.</p></li>
            </ul>
            
           <h4 id="места-проведения-тренингов">Места проведения тренингов</h4>
            
           <ul>
            <li><p>Катманду (скалодром и естественный рельеф);</p></li>
            
           <li><p>регион Эверест;</p></li>
            
           <li><p>регион Аннапурна.</p></li>
            </ul>
            
           <h3 id="другие-мероприятия">Другие мероприятия</h3>
            
           <ul>
            <li><p>Рафтинг;</p></li>
            
           <li><p>Велотуры;</p></li>
            
           <li><p>Логистика для йога туров;</p></li>
            
           <li><p>Сафари в Читван;</p></li>
            
           <li><p>Комбинированные программы.</p></li>
            </ul>
        </div>
        