<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo/logo.svg" alt="Ваш гид в Непале - трекинги,экспедиции,восхождения" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Новости сайта</p>
			<p>Новые статьи, туры, приглашения в путешествия.</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Ваш гид в Непале</h3>
				<ul class="mb3">
					<!-- <li><a href="/" class="link">Home</a></li> -->
					<li><a href="/guide" class="link">Услуги</a></li>
					<li><a href="/tours" class="link">Гид</a></li>
					<li><a href="/blog" class="link">Блог</a></li>
					<li><a href="/contact" class="link">Контакты</a></li>
				</ul>
			</div>

			<!-- <div>
				<h3 class="f4 b lh-title mb1 primary">Find out more</h3>
				<ul class="mb3">
					<li><a href="/blog/jamaica-blue/" class="link">Latest offers</a></li>
					<li><a href="/contact" class="link">Schedule and appointment</a></li>
				</ul>
			</div> -->

			<div>
				<h3 class="f4 b lh-title mb2 primary">Социальные сети</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/alexeyulyanov.ru" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "https://vk.com/kuvirkot" "svg" "icons-vk") }}
					{{ partial "social-icon" (dict "link" "https://t.me/joinchat/EtUF_w4R_pVz6-RETGwd4g" "svg" "icons-telegram") }}
					{{ partial "social-icon" (dict "link" "https://www.instagram.com/kuvirkot/" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "https://www.linkedin.com/in/alexeyulyanov/" "svg" "icons-linkedin") }}
					{{ partial "social-icon" (dict "link" "https://twitter.com/_alexeyulyanov" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "https://www.youtube.com/alexeyuliyanov" "svg" "icons-youtube") }}
					<!-- {{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }} -->
					<!-- {{ partial "social-icon" (dict "link" "mailto:alexey@uliyanov.com" "svg" "icons-gmail") }} -->
					<!-- <li class="dib ph2 raise">
						<a href="viber://chat?number=79107981028" class="link bg-white black db relative br-100 pa2">
						  <svg width="16px" height="16px" class="db">
							<use xlink:href="#icons-viber"></use>
						  </svg>
						</a>
					</li> -->
					<!-- {{ partial "social-icon" (dict "link" "https://wa.me/79107981028" "svg" "icons-whatsapp") }} -->
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}



{{ if .Params.script }}
{{ range .Params.script }}
<script src="{{ .scriptURL }}"></script>
{{ end }}
{{ end }}

<!-- <script src="/app.js"></script> -->


</body>

</html>
