<section id="intro" class="vh-50 dt bg-grey-1 w-100">
    <!-- <section id="intro" class="vh-75 dt bg-blue near-white w-100"> -->
        <div class="dtc v-mid center measure tc">
          <h2 class="f2 f1-ns">{{.heading}}</h2>
          <hr class="mw4 center bn bg-primary" style="height: 5px">
          <p class="f3 fw2 mw7 center tl">{{.text}}</p>
           
            <!-- <div class="cms mw6 center">
          <ul class="list tl pl0 f4 fw1">
              {{ range .list}}
              <li class="">{{.listitem}}</li>
              {{ end }}	
           </ul>
           </div> -->
          <a href="{{.btnlink}}" class="f3 ph4 pv3 mb2 dib link no-underline br-pill dim bg-primary ba b--near-white white">{{.btntext}}</a>
        </div>
  </section> 