{{ if .itinerary }}
<div class="pa4 mw7">
    <div class="overflow-auto">
        <table class="f7 center itinerary" cellspacing="0">
            <caption class="bb b--grey-2 bw1 f5 grey-3 mb2">
                <h2>Календарный план
                    <small class="f8"> (из Катманду в Катманду)</small>
                </h2>
            </caption>
            <thead>
                <tr class="stripe-dark head">
                    <th scope="col" class="tc pa1 b w-10">
                        день
                    </th>
                    <th scope="col" class="tc b pa1  w-40">
                        пункт назначения
                    </th>
                    <th scope="col" class="tc b pa1">
                        план на день
                    </th>
                </tr>
            </thead>

            <tbody class="lh-copy black-90">
                {{ range .itinerary }}
                <tr class="stripe-dark">
                    <td class="pv1 ph1 mt3 v-mid">
                        <span class="dayNumber"></span>
                        </th>
                    </td>
                    <td data-label="" class="pv1 ph1 v-mid">
                        {{.destination}}
                        <sup class="fw4 nowrap black-70">{{.altitude}}</sup>
                        {{ if .destination2}} → {{ .destination2}}
                        <sup class="fw4 nowrap black-70">{{.altitude2}}</sup>{{end}}
                    </td>
                    <td data-label="" class="pv1 ph1 v-mid">
                        {{.text}}
                    </td>
                </tr>
               {{ end }}
           
            </tbody>
           </table>
           {{if .reservedays}}
 <div class="pa1 mt3 f7"><span class="primary">{{.reservedays}}</span> {{.reservedaysuse}}</div>
 {{end}}
 </div>
</div>
{{ end }}