
{{ if .itinerary }}
<div class="ph3">
<h2 class="f5 grey-3 tc mb3">Нитка маршрута</h2>
<ul class="list tl">
                {{ range .itinerary }}
                {{ if .destination }}
                <li class="dib"><span class="f7 pv1 gray-3">{{ .destination}}<sup class="fw4 nowrap black-70"> {{.altitude}}</sup> → </span>
                    {{ if .destination2 }} <span class="f7 pv1 gray-3">{{ .destination2}}<sup class="fw4 nowrap black-70"> {{.altitude2}}</sup> → </span>{{end}}
                </li>
                {{ end }}
                {{ end }}
 </ul>
 </div>
 {{ end }}