<div class="bg-grey-1 pv5">
  <div class="flex-l mhn1-l ph3 center mw7">
    <div class="tc center w-25-ns">
      <img src="{{.image}}" alt="Ваш гид в Непале" class="db mb1 center" style="width: 120px; border-radius: 50%">
      <p class="f6 black-90 mb0">Алексей Ульянов</p>
      <p class="f6 black-90 mt0"><sup>Ваш гид в Непале</sup></p>
    </div>
 
    <div class="w-75-l mb0">
      <h2 class="f3 b lh-title mb2">{{.heading}}</h2>
      <p class="w-100 mb2">{{.text}}</p>
     <a href="/about/" class="no-underline f6 link raise db">Подробнее о моем опыте в непальских Гималаях <span class="">→</span></a>
    

    </div>
  </div>

</div>


<!-- <details>
  <summary class="f6">Мой опыт в Непале...</summary>

    <p> - by Refsnes Data. All Rights Reserved.</p>
  <p>All content and graphics on this web site are the property of the company Refsnes Data.</p>

  <p> - by Refsnes Data. All Rights Reserved.</p>
  <p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
</details> -->