::selection {
  background-color: var(--highlight);
}

/* Used in the navbar */
.divider-grey {
  box-shadow: inset 0 -4px 0 var(--grey-1);
  /* Link hover states */
  & a {
    transition: var(--hover-transition);
  }
  & ul a:hover, & ul a:focus {
    box-shadow: inset 0 -4px 0 var(--primary);
  }
}

summary {
	outline: none;
}

/* счетчик */

body {
	counter-reset: section;
	/* Устанавливает значение 
                                                   счетчика, равным 0 */
}

.dayNumber::before {
	counter-increment: section;
	/* Инкрементирует счетчик*/
	content: "день " counter(section);
	/* Отображает текущее 
                                                   значение счетчика */
}

.lightbox {
	/** Default lightbox to hidden */
	display: none;
	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
}

.lightbox>a {
	color: white;
}

.lightbox img {
	/** Pad the lightbox image */
	max-width: 100%;
	max-height: 100%;
	margin-top: 1%;
	margin-bottom: 1%;
}

.lightbox:target {
	outline: none;
	display: block;
}

table {
	width: 100%;
	table-layout: fixed;
}

/* .altitude {
	font-size: 0.6rem;
} */

/* table.itinerary tr.stripe-dark:nth-child(odd) {
	background-color: rgba(0, 0, 0, 0.1);
	background-color: var(--lightest-blue);
} */

table.itinerary tr {
	border-bottom: 1px solid #ddd;
}

td .dayNumber {
	background-color: var(--lightest-blue);
}

@media screen and (max-width: 50em) {
	table {
		border: 0;
	}
	table.itinerary thead {
		border: none;
		clip: rect(0 0 0 0);
		position: absolute;
	}
	table.itinerary td {
		/* border-bottom: 1px solid #ddd; */
		display: block;
		text-align: left;
	}

	td .dayNumber {
		/* font-weight: bold; */
		padding: 5px;
	}
	table.itinerary td::before {
		content: attr(data-label);
		float: left;
		color: var(--black-70);
		margin-right: 10px;
	}
	/* table.itinerary td.colon::before {
		content: attr(data-label)":";
	} */
	table.itinerary td:last-child {
		border-bottom: 0;
	}
	table.itinerary tr.stripe-dark:nth-child(odd) {
		background-color: rgba(0, 0, 0, 0);
		border-bottom: 1px solid #ddd;
		}
	table tr.stripe-dark:nth-child(even) {
	border-bottom: 1px solid #ddd;
	}

	td .dayNumber {
		background-color: var(--lightest-blue);
	}
}

img {
	-ms-interpolation-mode: nearest-neighbor;   
	image-rendering: -webkit-optimize-contrast;   
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-pixelated;
	image-rendering: pixelated;
  }
  