:root {
	/* Colors */
	--primary: rgba(255, 68, 0, 1);
	--highlight: rgba(254, 213, 198, 1);
	--white: rgba(255, 255, 255, 1);
	--off-white: rgba(255, 253, 252, 1);
	--grey-1: rgba(245, 243, 242, 1);
	--grey-2: rgba(235, 231, 230, 1);
	--grey-3: rgba(89, 87, 86, 1);
	--grey-4: rgba(66, 64, 64, 1);
	--black: rgba(43, 37, 35, 1);
	--lightest-blue: #cdecff;
	--black-90: rgba(0, 0, 0, .9);
	--black-70: rgba(0, 0, 0, .7);

	/* Typography */
	--font-family: Nunito Sans, -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
	--line-height: 1.5;
	--font-size: 18px;
	--font-size-m: 20px;
	--font-size-l: 22px;
	--body-font-weight: 400;
	--bold-font-weight: 700;
	
	/* Sizing */
	--spacing-none: 0;
	--spacing-extra-small: .25rem;
	--spacing-small: .5rem;
	--spacing-medium: 1rem;
	--spacing-large: 2rem;
	--spacing-extra-large: 4rem;
	--spacing-extra-extra-large: 8rem;
	--spacing-extra-extra-extra-large: 16rem;
	/* Miscelaneous */
	--border-radius: .25rem;
	--hover-transition: all 150ms ease;
}

summary{outline:none;}

/* счетчик */
body {
    counter-reset: section;                     /* Устанавливает значение 
                                                   счетчика, равным 0 */
  }
  
  .dayNumber::before {
    counter-increment: section;                 /* Инкрементирует счетчик*/
    content: "День " counter(section);   /* Отображает текущее 
                                                   значение счетчика */
  }

  .lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox>a {
color: white;
}

.lightbox img {
	/** Pad the lightbox image */
	max-width: 100%;
	max-height: 100%;
	margin-top: 1%;
	margin-bottom: 1%;
}

.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}
