<!doctype html>
<html lang="en" style="background-color: white;">
	{{ partial "head" . }}
	{{ partial "nav" . }}
  <body class="sans-serif">
  
	<aside class="mw7 center tc br2 pa5">

		<a href="/">
					<img src="{{ .Params.logo }}" alt="Ваш гид в Непале" class="db w5 center pv4 raise">
		</a>
		<h1 class="fw6 f3 f2-ns lh-title mt0 mb3">
		Спасибо!
		</h1>
		<h2 class="fw2 f4 lh-copy mt0 mb3">
		Ваше сообщение получено.
		</h2>
		<!-- <p class="fw1 f5 mt0 mb3">
		Sign up for beta access or learn more about x.
		</p> -->
		<div>
		<a
		  class="f6 br-pill no-underline raise ba b--primary grow pv2 ph3 dib mr3"
		  href="/"
		>
		Вернуться на сайт
		</a>
	
		</div>
	</aside>
  </body>
</html>