<a href="{{ .Permalink }}" class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100">

	<header class="tc-l pa0 bg-grey-1">
		
		<div class="cf center">

			<section class="fl tl">

					<h2 class="lh-title mt0 mb0 primary b f3 ph3">{{.Title}}</h2>
					<h3 class="lh-title mt0 mb2 black-70 f5 ph3">{{.Params.subtitle}}</h2>

				{{ if .Params.image }}
				<figure class="fl tc w-25-l w-100 pa2 mr3-l">
					<picture>
							{{ if .Params.imagesmall }}
						<source media="(min-width: 80em)" srcset="{{ .Params.imagesmall }}"> 
						<source media="(min-width: 30em)" srcset="{{ .Params.imagesmall }}">
						<source media="(min-width:  1em)" srcset="{{ .Params.imagesmall }}"> {{ end }}
						 {{ if .Params.alt}}
						<img src="{{ .Params.image }}" alt="{{ .Params.alt }}" class="w-100-l w-60-m w-90" /> {{ end }}
					</picture>

				</figure>
				{{ end }}
				
			

					<div class="ph2 ph3-ns pt1">
							<dl class="f7 lh-title mv2">
							<dt class="di b black-90">
								Даты проведения:
							</dt>

							{{ if .Params.onRequest }}
							<dd class="di ml0 black-70">
								{{ .Params.onRequest }}
							</dd>
							{{ end }} {{ if .Params.startDatetime }}
							<dd class="di">
								<span class="di ml0 primary">{{.Params.startDateteXt}} - {{.Params.endDateteXt}}</span>
								<span class="black-70 f7"> (из России в Россию)</span>
							</dd>
							{{ end }}
						</dl>


						{{ if .Params.durationRu }}
						<dl class="f7 lh-title mb2">
							<dt class="di b f6 black-90">
								{{ .Params.durationRu }}
							</dt>
							<dd class="di ml0 black-70">
								из России в Россию
							</dd>
						</dl>
						{{ end }}

					
						{{ if .Params.activity }}
						<dl class="f7 lh-title mb2">
							<dt class="di b black-90">
								Формат:
							</dt>
							<dd class="di ml0 black-70">
								{{ .Params.activity }}
							</dd>
						</dl>
						{{ end }} {{ if .Params.level }}
						<dl class="f7 lh-title mv2">
							<dt class="di b black-90">
								Сложность:
							</dt>
							<dd class="di ml0 black-70">
								{{ .Params.level }}
							</dd>
						</dl>
						{{ end }}

					</div>
					
					<p class="lh-copy mt0 mb2 black-70 f7 mw-100">{{.Params.lead}}</p>	
			</section>
		</div>
		
	</header>
</a>
